body { margin:6px 0 0 0;}
body,td,div{font-size:12px;font-family:airal;line-height:20px;}
a:hover { color:#0033cc; }
a:link { color:#0033cc; }
a:visited { color:#800080; }
.bnr{padding:12px 0 12px 0;}
.but1{border:1px solid #aaaaaa;background-color:#ffffff;padding:8px 21px 8px 21px;font-size:12px;text-decoration: none; color:#000000; margin-right:20px;font-family:airal;}
a.but1:hover { text-decoration: none; color:#000000}
a.but1:link { text-decoration: none; color:#000000}
a.but1:visited { text-decoration: none; color:#000000}
.but2{border:1px solid #c60a00;background-color:#ffffff;padding:8px 19px 8px 19px; font-size:12px; font-weight:bold;text-decoration: none; color:#000000; margin-right:20px;}
.but3{border:1px solid #f7941c;background-color:#fef4e8;padding:4px 19px 4px 19px; font-size:12px;margin-right:20px;}
.ico1{ background-image:url(../images/ico1.gif); background-repeat:no-repeat; background-position:center}
.ico2{ background-image:url(../images/ico2.gif); background-repeat:no-repeat; background-position:center}
.tab_1{padding-left:10px;font-size:12px;border-bottom:1px solid #d9d9d9;border-right:1px solid #d9d9d9;}
.tab_2{padding-left:10px;font-size:12px;border-bottom:1px solid #d9d9d9;}
.tab_3{padding-left:10px;font-size:12px;border-right:1px solid #d9d9d9;}
.tab_4{padding-left:10px;font-size:12px;}
.s1 { background: #ebebeb; padding-left:10px; font-weight:bold; margin-left: -10px; margin-bottom: 5px;}

.f12{font-size:12px;line-height:20px;}
.f14{font-size:14px;line-height:22px;}

.dw_a{width:760px;}
.dw_l{width:565px;float:left;}
.dw_r{width:169px;float:right;}

.tit1{ background:url(../img/tit1.gif) no-repeat; padding-left:10px; height:29px; line-height:29px; color:#FFFFFF; font-weight:bold;}

.col_1{color:#666666;}
.col_2{color:#c60a00;}
.iput{}
.box_1{padding:10px;}
.col_cp{color:#7777cc;}
a.col_cp:hover,a.col_cp:link,a.col_cp:visited {color:#7777cc;}
#cp{width:760px;color:#666666;text-align:center;height:20px;padding-top:11px;font-size:12px;font-family:arial;border-top:1px solid #c7c7c7;}

.f_col_4{color:#fe0000;}