.z1 {
	font-size: 14px;
	color: #2A64B3;
	text-decoration: none;
}
.z2 {
	font-size: 14px;
	text-decoration: none;
	color: #0033CC;
	line-height: 18px;
}
.z3 {
	font-size: 14px;
}
.z4 {
	font-size: 12px;
	color: #0000CC;
	text-decoration: none;
}
.z5 {
	font-size: 12px;
	text-decoration: none;
	line-height: 18px;
}
h2{font-size:14px;color:#2640ac;line-height:26px;}

